@using playgnd.Models.Admin.Test;
@model List<CourseModel>
@{
    ViewData["Title"] = "TestSubjList";
}
<h2>Выбор курса</h2>
 <table class="subjects">
                @foreach (CourseModel m in Model)
                {
                <tr class="subj">
                    <td>
                        <div class="subj-id">
                           <input type="button" value="@m.Id" onclick="getSubj(this)"/>
                        </div>
                    <td>
                        <div class="subj-name">
                           <input type="button" value="@m.Name" onclick="getSubj(this)"/>
                        </div>
                    </td>
                    <td>
                        <div class="subj-count">
                           <input type="button" value="@m.Count" onclick="getSubj(this)"/>
                        </div>
                    </td>
                </tr>
                }
  </table>
<script>
    function getSubj(button) {  
        name = button.value;           
        window.location.href = "@Url.Action("ReturnSubjects","Admin")"+"?subj="+name;
    }
</script>