@using playgnd.Models.Admin.Test;
@model List<CourseModel>
@{
    ViewData["Title"] = "TestSubjList";
}
<p align="center"><h2>Выбор курса</h2></p>
table.subjects {align: center; border: solid 1px black; cellpadding: 2 px; cols:2}
 <table class="subjects">
                @foreach (CourseModel m in Model)
                {
                <tr>
                    <td>
                        <div align="center">
                          <input class="button" type="button" value="@m.Name" onclick="getSubj(this)"/>
                        </div>
                    </td>
                    <td>
                        <div align="left">
                           <input type="text" value="В курсі @m.Count тестів"/>
                        </div>
                    </td>
                </tr>
                }
  </table>
<script>
    function getSubj(button) {  
        name = button.value;           
        window.location.href = "@Url.Action("ReturnSubjects","Admin")"+"?subj="+name;
    }
</script>
