@model List<string>
@{
    ViewData["Title"] = "TestSubjList";
}

<h2>Выбор курса</h2>
table.subjects {border:1}
tr.subj {}
div.subj-name {}
 <table class="subjects">
                @foreach (string d in Model)
                {
                <tr class="subj">
                    <td>
                        <div class="subj-name">
                           <input type="button" value="@d" onclick="getSubj(this) onmouseover="В курсі @d.count тестів"/>
                        </div>
                    </td>
                </tr>
                }
  </table>
<script>
    function getSubj(button) {  
        name = button.value;    
       
        window.location.href = "@Url.Action("ReturnSubjects","Admin")"+"?subj="+name;
    }
</script>
