
@{
    ViewData["Title"] = "TestList";
}

<h2>Выбор Теста:</h2>
Отображаются id тестов. Последний id - последний созданный тест. 
alpha версия.
<table class="subjects">
                @foreach (string d in Model)
                {
                <tr class="subj">
                    <td>
                        <div class="subj-name">
                           <input type="button" value="@d" onclick="getSubj(this)"/>
                        </div>
                    </td>
                </tr>
                }
  </table>
<script>
    function getSubj(button) {  
        name = button.value;        
        window.location.href = "@Url.Action("Index","Tests")"+"?id=" + name;
    }
</script>

